<h1 class="tweets_header"><%=image_tag "favicon.png"%></h1>

<table class="tweets_list">
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td class="tweet_handle"><%= tweet.handle %></td>
        <td class="tweet_body"><%= tweet.body %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new_tweet_link">
  <%= link_to 'New Tweet', new_tweet_path %>
</div>
